html *{
    font-family: 'Oswald', sans-serif;

}
body{
    background-color: antiquewhite;
background-image: url("https://www.transparenttextures.com/patterns/retina-wood.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.BODY{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
button{
    width: 30%;
    margin-left: 40%;
    height: 50px;

}
.btn-primary{
    background-color: #2d1152;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}
.btn-primary:hover{
    background-color: blue;
}
.button-lgi{
    align-items: center;
}
.checkBox{
    margin-right: 10px;
    margin-top: 10px;
}
.drop-zone{
    background-color: #2d1152;
    height: 350px;
    width: 100%;
    padding: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: 'Architects Daughter', cursive;
}
.enc_dec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.fileDropZone{
    background-color: antiquewhite;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 1.5em;
    height: 60%;
    width: 60%;
}
.fileDropZone:hover{
    cursor: pointer;
}
.fileName{
    color: #2d1152;
    font-size:1.3em;
    font-weight: bold;

}
.gitLogo{
    height: 60px;
    margin-top: 10px;
}
.noFileText{
    text-align: center;
}
.noFileWarning{
    background-color: white;
    border: 4px solid;
    font-weight: bold;
    border-color: red;
    color: red;
    height: 195px;
    width: 33.3%;
    z-index: 1;
    position: absolute;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: none;
}
.noFileWarningActive{
    display: flex;
}
.footer{
    height: 30px;
    background-color: #2d1152;
    color: white;
    position: fixed;
    display: inline-block;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.fileText{
    text-align: center;
    width: 100%;
}
#header{
    height: 75px;
    font-size: 2em;
    padding-left:2%;
    padding-right:5%;
    background-color: #2d1152;
    color: white;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.header_item{
    color: white;
}
.header_item:hover{
    color: white;
}
i.icon{
    font-size: 2em;
    text-align: center;
    padding-top:.5em;
}

.ui.form .filed{
    margin:0;
}

.input_center{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 1%;
}
.info{
    font-size:.8em;
    text-align: center;
}
label{
    margin-right: 10px;
    font-weight: bold;
    color: black;
    font-size: 1.49em;
}
.list-group-item {
    background-color: antiquewhite;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    display: grid;
    border-top: 2.5px solid;
    border-color:#2d1152; 
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 100px;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-weight: bold;    
}
.list-group-item-one{
    border-top: none;
}
.list-group{
    width: 50%;
    border: 2.5px solid;
    border-color: #2d1152;
    background-color: #e0c9cb;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    margin-bottom: 50px;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.Password{
    width: 70%;
}
.radioLabel{
    margin-right: 40px;
}
.ui.form label{
    font-size: 1.2em;
    font-weight: bold;
}
.ui.form{
    align-items: center;
    justify-content: center;
}
.ui.menu .item{
    color: white;
}
.ui.menu:hover{
    color: blue;
}
.checkBox{
    display: inline-block
}
.action_label{
    float: right;
    margin-left: 5px;
}
.ui.form .fields{
    justify-content: center;
}
.warning{
    color: red;
}

@media (max-width: 1100px) {
    .info{
        display: none;
    }
}